

.showcase-accounts{
    display: grid;
    grid-gap: 15px;
    margin-bottom: 0.50rem;
    grid-template-areas: 
        'showcase showcase'
        'showcase showcase';
 }





html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    background: var(--primary);
    margin: 30px 50px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;    
}
