.showcase{
    grid-area: showcase;
    min-height: 300px;
    background-image: url("Officeindex/OfficeIndex4.jpeg");
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.top-box {
    background: var(--primary);
    display: grid;
    align-items: right;
    justify-items: right;
    box-shadow:.1em;
    padding: 1.5rem;
    display: block;
    text-decoration: none;
    padding: 0.5rem;  
    color: var(--dark);
    font-weight: 700;
    font-size: 1.1rem;

}

.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
