/* Navigation */

nav{
    font-weight: bold;
    margin:0.5rem;
    padding: 0.5rem;
    background: var(--primary);
    }

.topnav {
    overflow: hidden;
    background-color: var(--white);
}

/* * {box-sizing: border-box;} */

.topnav {
  overflow: hidden;
  background-color: var(--white);
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--white);
  color: var(--text);
}

.topnav a.active {
  background-color: var(--light);
  color: var(--white);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 0.25rem;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin: 0.1rem;
  margin-right: 16px;
  background: var(--primary);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background:var(--light);
}