.showcase h1{
    font-size: 3rem; 
    margin-bottom: 0;
    color: white;
    padding: 0.5rem;
    font-weight: 750;
    text-align: center;
}
.showcase h2{
    font-size: 1.5rem;
    margin-bottom: 0;
    color: orange;
    padding: 0.5rem;
    margin: 0.5rem;
    background: var(--dark);
    font-style:  bold;
    font-weight: 750;
}

.showcase h3{
    font-size: 1.2rem;
    margin-bottom: 0;
    color: orange;
    padding: 0.5rem;
    margin: 0.5rem;
    background: var(--text);
    font-style:  bold;
    font-weight: 750;
}

.showcase p{
    font-size: 2rem;
    margin-top: 0;
    color: #ffffff;
    font-weight: 600;

}
