
/* CSS Variables */
:root{
    --primary: #e5ebf0;
    --dark:#4553b2;
    --light:#7ec9ff;
    --shadow:#747681;
    --text: #000000;
    --icon:#6fbd46;
    --white:#ffffff;
}

body{
    background: var(--primary);
    margin: 30px 50px;
    font-family: Arial, Helvetica, sans-serif;    
  }
  
.btn{
    background: var(--dark);
    color: var(--primary);
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    border: 0;
    font-weight: 700;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;

}